<div id="wrapper">
    <!-- wrapper start -->
    <!-- Header -->
	<div id="home_section">
			</div>
    <div class="header">

        <div class="navbar  navbar-default navbar-fixed-top" role="navigation">

        

            <div class="navbar-header">

                <button
                    class="navbar-toggle collapsed"
                    data-target="#js-navbar-collapse"
                    data-toggle="collapse"
                    type="button">
                    <div class="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>

                </button>

                <a class="navbar-brand" href="#/">
				    <div id="logowrap">
                <!-- Logo -->
                <div class="content-logo">
                
                </div>
            </div>
            <!-- Logo -->
				
				
				</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">

                    <!--    <li><a ng-href="#/about">About</a></li> -->

                    <li ng-class="{current : slidewrap}">
                        <a ng-click="gotoElement('slidewrap')">Home</a>
                    </li>
                    <li class="menu-item-has-children" ng-class="{current : our_story}">
                        <a ng-click="gotoElement('our_story')">Our Story</a>
                    </li>
                    <li class="menu-item-has-children" ng-class="{current : countdown_section}">
                        <a ng-click="gotoElement('countdown_section')">The Wedding</a>
                    </li>
                    <li ng-class="{current : gallery}">
                        <a ng-click="gotoElement('gallery')">Gallery</a>
                    </li>
                    <li ng-class="{current : rsvp_section}">
                        <a ng-click="gotoElement('rsvp_section')">RSVP</a>
                    </li>
                    <li ng-class="{current : contact_section}">

                        <a ng-click="gotoElement('contact_section')">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Header -->
    <div id="slidewrap">
	
	<!-- rn-carousel-auto-slide -->
  <ul rn-carousel rn-carousel-auto-slide rn-carousel-transition="hexagon" class="rslides rslides1" id="slider">
  <li>
                <img alt="slide1" src="./css-js-img/001.jpg">
            </li>
            <li >
                <img alt="slide3" src="./css-js-img/002.jpg">
            </li>
            <li>
                <img alt="slide2" src="./css-js-img/004.jpg">
            </li>
   </ul>
      

    </div>
 
 <div class="clearfix"></div>
 
    <div class="section" id="our_story">
        <div id="story_main">

            <div class="container">
                <h2>
                    Our Story</h2>

               
				
							<div class="col-md-2 col-xs-2 col-sm-2" >
                               <img src="./css-js-img/1.png" width="100%">
                            </div>
							<div class="col-md-8 col-sm-8 col-xs-8" >
                                <p>
				
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. .Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book. .Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                </p>
                            </div>
							<div class="col-md-2 col-xs-2 col-sm-2" >
							<img src="./css-js-img/2.png" width="100%">
                               
                            </div>

            </div>
        </div>
    </div>

    <div class="section" id="countdown_section">
        <div id="countdown-main">
            <!-- countdown main -->
            <div class="container">
                <div class="space-countdown"></div>
                <!-- spacer -->
                <h2>The Wedding</h2>
                <div class="row">
                    <!-- row start-->

                    <div class="countdown-container-timer col-md-6 col-sm-4">
                        <div class="row">
                            <div class="col-md-4 hidden-sm">
                                <div class="floral-left">&nbsp;</div>
                            </div>
                            <!-- <div class="col-md-4 col-sm-12"><h3 class="title-countdown">It's Just Now</h3></div> -->
                            <div class="col-md-4 hidden-sm">
                                <div class="floral-right">&nbsp;</div>
                            </div>
                        </div>
                        <ul id="countdown">
						<countdown stopdate="1/10/2016 11:00 AM"></countdown>
                           
                        </ul>
                        <!-- <h4 class="title-countdown">Until We Get Married</h4> -->
                        <div class="floral-center">&nbsp;</div>
                    </div>

                    <div class="clearfix"></div>
                </div>

             
                <div class="countdown-container col-md-12 col-sm-12">
                  

				  <div class="social-media-wrap">
                        <a href="" target="_blank"><img alt="" src="./css-js-img/countdown-fb-icon.png"></a>
                        <a href="" target="_blank"><img alt="" src="./css-js-img/countdown-twitter-icon.png"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
<style>
.ng-gallery {
    width: 100%;
    height: 205px;
    overflow-x: scroll;
    overflow-wrap: break-word;
    overflow-y: hidden;
    display: -webkit-inline-box;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ng-gallery::-webkit-scrollbar {
    width: 1em;
}
 
.ng-gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,229,229,0.3);
}
 
.ng-gallery::-webkit-scrollbar-thumb {
	background-color: #F90;	
		border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}






</style>
    <div class="section" id="gallery">

        <div id="gallery-main">
            <!-- rsvp main -->
            
			<h2> Gallery </h2>
			
				<ng-gallery id="style16" images="main.images" thumbs-num="11">
</ng-gallery>
			
            <!-- rsvp container -->
        </div>
    </div>
    <!-- rsvp main -->

    <div class="section" id="rsvp_section">

        <div id="rsvp-main">
            <!-- rsvp main -->
            <div class="container">
                <div class="rsvp-container col-md-12">
                    <!-- rsvp container -->
					
                    <h1 class="title-rsvp">
                        Invitation
                    </h1>
                    <div class="rsvp-design-elements">&nbsp;</div>
                    <div class="rspv-form-wrapper">
					<img src="./css-js-img/card.png">
                        
                    
                </div>
            </div>
            <!-- rsvp container -->
        </div>
    </div>
    <!-- rsvp main -->
<div class="section" id="contact_section">
    <div id="contact-main">
        <!-- main -->
        <div class="container">
		    <h2 class="centered head">wish us</h2>
            <div class="row">
                <!-- Start Row -->

                <div class="contactform col-md-offset-2 col-sm-8">
                    <!-- col start -->
                    <h4 class="contactform-title">Send Your Greetings</h4>
                    <form id="contactForm" method="post">
                        <div class="row">
                            <div class="contact-name col-sm-12 col-md-6">
                                <label class="contact-label">Name</label>
                                <input id="contactName" name="contactName" required="" type="text" value="">
                            </div>
                            <div class="contact-email col-sm-12 col-md-6">
                                <label class="contact-label">Email</label>
                                <input id="email" name="email" required="" type="text" value="">
                            </div>
                        </div>
                        <div class="contact-text">
                            <label class="contact-label">Message</label>
                            <textarea class="required requiredField" id="commentsText" name="comments"></textarea>
                        </div>
                        <input class="btn greetings" id="submitted" type="submit" value="Send">
                    </form>
                </div>

                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                    <!-- Button that triggers the popup -->
                    <h4 class="contact-title">

                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- main -->
    </div>
	<!-- /#footer-main -->
    
	
	<div class="section" id="comment_section">
    <div id="comment-main">
        <!-- main -->
        <div class="container">
		    <div class="row padding-25">
                <!-- Start Row -->

                <div class="col-md-offset-2 col-sm-offset-1 col-sm-2 col-md-2 t-a-r">
				
				
            <img alt="Back to Top" src="./css-js-img/comment-prof-pic.png" class="pro-pic-img " title="Pro-Pic">
           
                </div>
                  
				<div class="col-sm-9 col-md-8">
				<h4 class="comment-pro-name">Vimal kovath<span class="comment-date">10-12-2014</span></h4>
				<p>"This is very beautiful! God bless the couple, and their lives together!﻿"</p>
				
                </div>
                
				  <div class="clearfix"></div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- main -->
    </div>
	
	<!-- Back to top button -->
    <div class="back-to-top">
        <a ng-click="gotoElement('slidewrap')">
            <img alt="Back to Top" src="./css-js-img/arrow-top.png" title="Back to Top">
        </a>
    </div>
</div>
</div>

<!-- wrapper end -->